.logo img {
    width: 250px;
}


header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul {
    float: left;
    line-height: 40px;
}

header ul li {
    float: left;
    list-style: none;
    padding-right: 40px;
    color: white;
    font-size: 20px;
}

main {
    clear: both;
}

.main-container {
    width: 100%;
    margin-top: 10px;
}

.left {
    float: left;
    width: 67%;
    margin-bottom: 40px;
    margin-left: 10px;
}

.maintop {
    clear: both;
    border-left: 5px solid black;
    border-bottom: 2px solid gray;
    padding-left: 5px;
}

.mainmiddle {
    margin-left: 30px;
    border-left: 5px solid red;
    padding-left: 5px;
    font-size: 120%;
}

form {
    background-color: whitesmoke;
    border: 3px lightgray;
    border-radius:10px;
    padding-top: 20px;
    margin-bottom: 20px;
    width:100%;
}

form div {
    padding:15px;
}

.text,textarea,.dropdown {
    border: 1px solid lightgray;
    padding:5px;
    color:darkgray;
    background: white;
}

.submit {
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: darkgray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}

.kiji {
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    width: 100%
}

.kiji h3 {
    border-bottom: solid 2px lightgray;
}

.contents {
    margin: 5px;
    padding-bottom: 5px;
}

.handlename {
    font-size: 12px;
}

.right {
    float: right;
    margin-top: 20px;
    width: 28%;
    font-size: 80%;
}

.right h1 {
    border-bottom: 2px dotted gray;
}

footer {
    clear: both;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 60px; 
}